{{#if products.length}}
    <table class="section-form__loaded__products__table">
        <tr class="first-column">
            {{!-- <th>ID</th> --}}
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Marca</th>
            <th>Categoría</th>
            <th>Foto</th>
            <th>Detalles</th>
            <th>Envío</th>
            <th>Acción</th>
        </tr>

        {{#each products}}
        <tr class="second-column">
            {{!-- <td>{{id}}</td> --}}
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{stock}}</td>
            <td>{{brand}}</td>
            <td>{{range}}</td>
            <td>
                <img src="{{photo}}" width="50" alt="{{nombre}}">
            </td>
            <td>{{details}}</td>
            {{#if freeDelivery}}
                <td>Si</td>
            {{else}}
                <td>No</td>
            {{/if}}
            <td>
                <button onclick="productsController.putProduct('{{id}}')">Actualizar</button>
                <button onclick="productsController.deleteProduct('{{id}}')">Eliminar</button>
            </td>

        </tr>
        {{/each}}
        
    </table>

{{else}}
    <h3>No se encontraron productos</h3>
{{/if}}